# Python+SQlite

In [31]:
import pandas as pd
import numpy as np
import sqlite3
import sys
from pathlib import Path
from contextlib import closing

In [32]:
print("python:",sys.version_info)
print("pandas:",pd.__version__)
print("numpy:",np.__version__)

python: sys.version_info(major=3, minor=7, micro=9, releaselevel='final', serial=0)
pandas: 0.24.2
numpy: 1.21.2

In [33]:
!sqlite3 --version

3.32.3 2020-06-18 14:16:19 02c344aceaea0d177dd42e62c8541e3cab4a26c757ba33b3a31a43ccc7d4aapl

## クラス化

In [34]:
class SqlExecuttionToSqlite:
    """
    SQL execution class to Sqlite.
    """
    def __init__(self,db_filepath):
        """
        argument;
            - db_filepath:sqlite file path
        """
        self.db_name = db_filepath
    
    def create_sqlitefile(self):
        """
        explanation;
            Create a file if sqlite file does not exist.       
        """
        try:
            # コネクションの作成。ファイルがない場合は作成される
            conn = sqlite3.connect(self.db_name)
            # コネクションを閉じる
            conn.close()
        except sqlite3.Error as e:
            print(e)
            
            
    def execute_sql(self,mode,sql,data=None):
        """
        explanation;
            Function to execute sql.
            Execute sql after specifying mode.
        argument;
            - mode:
                select -> Returns header and value.
                insert -> Separate the data you want to insert from the SQL frame.
                others -> Assume a Create statement.
            - sql:
                The SQL to be executed.
            - data:
                Pass the data to be Inserted as a tuple type.
                If there is more than one data, pass a list of tuple type data records.                
            
        """        
        try:
            with closing(sqlite3.connect(self.db_name)) as conn:
                cur = conn.cursor()
                if mode=="select":
                    cur.execute(sql)
                    header = [description[0] for description in cur.description]
                    values = cur.fetchall()
                    return header,values
                    
                elif mode== "insert":
                    if type(data) == tuple:
                        cur.execute(sql,data)
                    else:
                        cur.executemany(sql,data)
                        
                    
                else:
                    # create table系を想定
                    cur.execute(sql)
                                
                conn.commit()
        except sqlite3.Error as e:
            print(e)

In [35]:
db_dir = r"./output/"
db_name = "test.sqlite"
db_path = Path(db_dir, db_name)

In [36]:
# インスタンスの作成
exe = SqlExecuttionToSqlite(db_path)

In [37]:
# ファイルの作成
exe.create_sqlitefile()

In [38]:
# テーブルを作成
sql = """
CREATE TABLE test_table(
    id int, 
    title varchar(20),
    body varchar(20)
)
;
"""
exe.execute_sql(mode="create",sql=sql)

table test_table already exists

In [39]:
# データの挿入
sql= """
INSERT into test_table
    (id, title, body)
values
    (?,?,?)
;
"""
data = (2,"test","aaa")
exe.execute_sql(mode="insert",sql=sql,data=data)

In [40]:
# テーブルデータの内容取得
sql= """
SELECT
    *
FROM
    test_table
;
"""
cols,values = exe.execute_sql(mode="select",sql=sql)

In [41]:
cols

['id', 'title', 'body']

In [42]:
values

[(2, 'test', 'aaa'),
 (2, 'test', 'aaa'),
 (2, 'test', 'aaa'),
 (2, 'test', 'aaa'),
 (2, 'test', 'aaa')]